The following Modules are Needed, Please install them.

1: Psutil
2: re
3: dateutil
4: discord.py==1.5.1

> pip install <module name> in the CMD.

Python Version Used: 3.7
Discord Version Used: 1.5.1

